In [1]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="2006"
)
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026226956EB0>

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="2006",
  database="vaccination_data"
)

In [3]:
db_cursor = db.cursor()

In [4]:
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('country_name_au',)
('country_name_ind',)
('country_name_nyc',)
('country_name_phil',)
('country_name_usa',)
('customer_details',)

In [5]:
db_cursor.execute("DESCRIBE customer_details")

db_result = db_cursor.fetchall()

for x in db_result:
    print('\t')
    print(x)

('Customer_Name', b'varchar(255)', 'NO', '', None, '')

('Customer_ID', b'int', 'NO', 'PRI', None, 'auto_increment')

('Customer_Open_Date', b'date', 'NO', '', None, '')

('Last_Consulted_Date', b'date', 'YES', '', None, '')

('Vaccination_Type', b'char(5)', 'YES', '', None, '')

('Doctor_Consulted', b'char(255)', 'YES', '', None, '')

('State_', b'char(5)', 'YES', '', None, '')

('Country', b'char(5)', 'YES', '', None, '')

('Post_Code', b'int', 'YES', '', None, '')

('Date_of_Birth', b'date', 'YES', '', None, '')

('Active_Customer', b'char(1)', 'YES', '', None, '')

In [6]:
db_cursor.execute("SELECT * FROM customer_details")

db_result = db_cursor.fetchall()

for x in db_result:
    print('\t')
    print(x)

('Jacob', 1256, datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'VIC', 'AU', None, datetime.date(1987, 3, 6), 'A')

('Matt', 12345, datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'BOS', 'NYC', None, datetime.date(1987, 3, 6), 'A')

('Alex', 123457, datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'SA', 'USA', None, datetime.date(1987, 3, 6), 'A')

('John', 123458, datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'TN', 'IND', None, datetime.date(1987, 3, 6), 'A')

('Mathew', 123459, datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', None, datetime.date(1987, 3, 6), 'A')

In [7]:
db_cursor.execute("DESCRIBE country_name_nyc")

db_result = db_cursor.fetchall()

for x in db_result:
    print(x)

('Customer_Name', b'varchar(255)', 'YES', '', None, '')
('Customer_ID', b'int', 'YES', '', None, '')
('Last_Consulted_Date', b'date', 'YES', '', None, '')
('Vaccination_Type', b'char(5)', 'YES', '', None, '')

# Load data into tables, one table per country

In [8]:
db_cursor.execute("SELECT * FROM country_name_nyc")

db_result = db_cursor.fetchall()

for x in db_result:
    print(x)

('Matt', 12345, datetime.date(2012, 10, 13), 'MVD')

In [9]:
db_cursor.execute("SELECT * FROM country_name_usa")

db_result = db_cursor.fetchall()

for x in db_result:
    print(x)

('Alex', 123457, datetime.date(2012, 10, 13), 'MVD')

In [10]:
db_cursor.execute("SELECT * FROM country_name_ind")

db_result = db_cursor.fetchall()

for x in db_result:
    print(x)

('John', 123458, datetime.date(2012, 10, 13), 'MVD')

In [11]:
db_cursor.execute("SELECT * FROM country_name_phil")

db_result = db_cursor.fetchall()

for x in db_result:
    print(x)

('Mathew', 123459, datetime.date(2012, 10, 13), 'MVD')

In [12]:
db_cursor.execute("SELECT * FROM country_name_au")

db_result = db_cursor.fetchall()

for x in db_result:
    print(x)

('Jacob', 1256, datetime.date(2012, 10, 13), 'MVD')